USE [MemberCard]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblStatus_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblStatus_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblStatus_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblServicePlace_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblServicePlace_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblServicePlace_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblScheduleProvide_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblScheduleProvide_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblScheduleProvide_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblPointRule_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblPointRule_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblPointRule_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblMemberCard_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblMemberCard_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblMemberCard_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblGender_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblGender_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblGender_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblFrequency_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblFrequency_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblFrequency_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineService_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineService_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineService_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineBooking_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineBooking_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblExamineBooking_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblDoctor_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblDoctor_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblDoctor_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCustomer_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCustomer_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCustomer_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCardType_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCardType_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblCardType_Create]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblBookingStatus_Get]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblBookingStatus_Delete]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP PROCEDURE [dbo].[sp_tblBookingStatus_Create]
GO
ALTER TABLE [dbo].[tblServiceTransaction] DROP CONSTRAINT [FK_tblServiceTransaction_tblServicePlace]
GO
ALTER TABLE [dbo].[tblServiceTransaction] DROP CONSTRAINT [FK_tblServiceTransaction_tblPointRule]
GO
ALTER TABLE [dbo].[tblServiceTransaction] DROP CONSTRAINT [FK_tblServiceTransaction_tblMemberCard]
GO
ALTER TABLE [dbo].[tblScheduleProvide] DROP CONSTRAINT [FK_tblScheduleProvide_tblServicePlace]
GO
ALTER TABLE [dbo].[tblScheduleProvide] DROP CONSTRAINT [FK_tblScheduleProvide_tblDoctor]
GO
ALTER TABLE [dbo].[tblMemberCard] DROP CONSTRAINT [FK_tblMemberCard_tblStatus]
GO
ALTER TABLE [dbo].[tblMemberCard] DROP CONSTRAINT [FK_tblMemberCard_tblServicePlace1]
GO
ALTER TABLE [dbo].[tblMemberCard] DROP CONSTRAINT [FK_tblMemberCard_tblServicePlace]
GO
ALTER TABLE [dbo].[tblMemberCard] DROP CONSTRAINT [FK_tblMemberCard_tblCustomer]
GO
ALTER TABLE [dbo].[tblMemberCard] DROP CONSTRAINT [FK_tblMemberCard_tblCardType]
GO
ALTER TABLE [dbo].[tblFrequency] DROP CONSTRAINT [FK_tblFrequency_tblExamineService]
GO
ALTER TABLE [dbo].[tblFrequency] DROP CONSTRAINT [FK_tblFrequency_tblDoctor]
GO
ALTER TABLE [dbo].[tblExamineBooking] DROP CONSTRAINT [FK_tblExamineBooking_tblScheduleProvide]
GO
ALTER TABLE [dbo].[tblExamineBooking] DROP CONSTRAINT [FK_tblExamineBooking_tblExamineService]
GO
ALTER TABLE [dbo].[tblExamineBooking] DROP CONSTRAINT [FK_tblExamineBooking_tblDoctor]
GO
ALTER TABLE [dbo].[tblExamineBooking] DROP CONSTRAINT [FK_tblExamineBooking_tblCustomer]
GO
ALTER TABLE [dbo].[tblExamineBooking] DROP CONSTRAINT [FK_tblExamineBooking_tblBookingStatus]
GO
ALTER TABLE [dbo].[tblDoctor] DROP CONSTRAINT [FK_tblDoctor_tblGender]
GO
ALTER TABLE [dbo].[tblCustomer] DROP CONSTRAINT [FK_tblCustomer_tblGender]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblStatus]
GO
/****** Object:  Table [dbo].[tblServiceTransaction]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblServiceTransaction]
GO
/****** Object:  Table [dbo].[tblServicePlace]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblServicePlace]
GO
/****** Object:  Table [dbo].[tblScheduleProvide]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblScheduleProvide]
GO
/****** Object:  Table [dbo].[tblPointRule]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblPointRule]
GO
/****** Object:  Table [dbo].[tblMemberCard]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblMemberCard]
GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblGender]
GO
/****** Object:  Table [dbo].[tblFrequency]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblFrequency]
GO
/****** Object:  Table [dbo].[tblExamineService]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblExamineService]
GO
/****** Object:  Table [dbo].[tblExamineBooking]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblExamineBooking]
GO
/****** Object:  Table [dbo].[tblDoctor]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblDoctor]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblCustomer]
GO
/****** Object:  Table [dbo].[tblCardType]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblCardType]
GO
/****** Object:  Table [dbo].[tblBookingStatus]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP TABLE [dbo].[tblBookingStatus]
GO
USE [master]
GO
/****** Object:  Database [MemberCard]    Script Date: 06/03/2016 1:55:28 AM ******/
DROP DATABASE [MemberCard]
GO
/****** Object:  Database [MemberCard]    Script Date: 06/03/2016 1:55:28 AM ******/
CREATE DATABASE [MemberCard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MemberCard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TIENSERVER\MSSQL\DATA\MemberCard.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MemberCard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TIENSERVER\MSSQL\DATA\MemberCard_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MemberCard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MemberCard]
GO
/****** Object:  Table [dbo].[tblBookingStatus]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBookingStatus](
	[StatusBooking_ID] [int] NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblBookingStatus] PRIMARY KEY CLUSTERED 
(
	[StatusBooking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCardType]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCardType](
	[CardType_ID] [smallint] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_tblCardType] PRIMARY KEY CLUSTERED 
(
	[CardType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender_ID] [smallint] NOT NULL,
	[DOB] [date] NULL,
	[YOB] [smallint] NULL,
	[AddressLine1] [nvarchar](256) NULL,
	[AddressLine2] [nvarchar](256) NULL,
	[MobilePhone] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_tblCustomer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDoctor]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDoctor](
	[Doctor_ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[Gender_ID] [smallint] NOT NULL,
	[YOB] [smallint] NULL,
	[AddressLine1] [nvarchar](256) NULL,
	[AddressLine2] [nvarchar](256) NULL,
	[MobilePhone] [varchar](50) NULL,
	[Phone2] [varchar](50) NULL,
 CONSTRAINT [PK_tblDoctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblExamineBooking]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamineBooking](
	[Customer_ID] [int] NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Doctor_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[BookingCreateDate] [datetime] NULL,
	[EstimateStartTime] [time](7) NULL,
	[EstimateEndTime] [time](7) NULL,
	[PositionIndex] [int] NULL,
	[StatusBooking_ID] [int] NULL,
 CONSTRAINT [PK_tblExamineBooking] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Schedule_ID] ASC,
	[Doctor_ID] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblExamineService]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamineService](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](256) NOT NULL,
	[InActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblExamineService] PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblFrequency]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFrequency](
	[Doctor_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[Duration] [int] NOT NULL,
 CONSTRAINT [PK_tblFrequency] PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGender](
	[Gender_ID] [smallint] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblGender] PRIMARY KEY CLUSTERED 
(
	[Gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMemberCard]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMemberCard](
	[Card_ID] [int] NOT NULL,
	[CardType_ID] [smallint] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[IssuePlace_ID] [int] NULL,
	[IssueBy] [nvarchar](100) NULL,
	[ExpDate] [date] NULL,
	[Status_ID] [smallint] NULL,
	[TotalPoint] [int] NULL,
	[AccessCode] [varchar](256) NULL,
	[EMRCode] [varchar](50) NULL,
	[EMRPlace_ID] [int] NULL,
	[Notes] [nvarchar](256) NULL,
 CONSTRAINT [PK_tblMemberCard] PRIMARY KEY CLUSTERED 
(
	[Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPointRule]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPointRule](
	[Rule_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[ChangeRate] [int] NOT NULL,
	[Increase_Decrease] [int] NULL,
 CONSTRAINT [PK_tblPointRule] PRIMARY KEY CLUSTERED 
(
	[Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblScheduleProvide]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScheduleProvide](
	[Schedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Place_ID] [int] NULL,
	[Doctor_ID] [int] NOT NULL,
	[ScheduleDate] [int] NOT NULL,
	[Shift_ID] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [smallint] NULL,
	[Capacity] [int] NULL,
	[BookingCount] [int] NULL,
 CONSTRAINT [PK_tblScheduleProvide] PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblServicePlace]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblServicePlace](
	[Place_ID] [int] IDENTITY(1,1) NOT NULL,
	[PlaceName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Tel] [varchar](50) NULL,
 CONSTRAINT [PK_tblServicePlace] PRIMARY KEY CLUSTERED 
(
	[Place_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblServiceTransaction]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceTransaction](
	[Card_ID] [int] NOT NULL,
	[ServiceDate] [date] NOT NULL,
	[ServicePlace_ID] [int] NOT NULL,
	[ServiceDescription] [nvarchar](256) NOT NULL,
	[ServiceAmount] [int] NOT NULL,
	[Increase_Decrease] [int] NOT NULL,
	[AutoTransferInput] [bit] NOT NULL,
	[PointRule_ID] [smallint] NOT NULL,
	[PointRec] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[Status_ID] [smallint] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblGender] ([Gender_ID], [Description]) VALUES (0, N'Female')
INSERT [dbo].[tblGender] ([Gender_ID], [Description]) VALUES (1, N'Male')
INSERT [dbo].[tblGender] ([Gender_ID], [Description]) VALUES (2, N'MtoF')
INSERT [dbo].[tblStatus] ([Status_ID], [Description]) VALUES (0, N'Active')
INSERT [dbo].[tblStatus] ([Status_ID], [Description]) VALUES (1, N'Locked')
ALTER TABLE [dbo].[tblCustomer]  WITH CHECK ADD  CONSTRAINT [FK_tblCustomer_tblGender] FOREIGN KEY([Gender_ID])
REFERENCES [dbo].[tblGender] ([Gender_ID])
GO
ALTER TABLE [dbo].[tblCustomer] CHECK CONSTRAINT [FK_tblCustomer_tblGender]
GO
ALTER TABLE [dbo].[tblDoctor]  WITH CHECK ADD  CONSTRAINT [FK_tblDoctor_tblGender] FOREIGN KEY([Gender_ID])
REFERENCES [dbo].[tblGender] ([Gender_ID])
GO
ALTER TABLE [dbo].[tblDoctor] CHECK CONSTRAINT [FK_tblDoctor_tblGender]
GO
ALTER TABLE [dbo].[tblExamineBooking]  WITH CHECK ADD  CONSTRAINT [FK_tblExamineBooking_tblBookingStatus] FOREIGN KEY([StatusBooking_ID])
REFERENCES [dbo].[tblBookingStatus] ([StatusBooking_ID])
GO
ALTER TABLE [dbo].[tblExamineBooking] CHECK CONSTRAINT [FK_tblExamineBooking_tblBookingStatus]
GO
ALTER TABLE [dbo].[tblExamineBooking]  WITH CHECK ADD  CONSTRAINT [FK_tblExamineBooking_tblCustomer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[tblCustomer] ([Customer_ID])
GO
ALTER TABLE [dbo].[tblExamineBooking] CHECK CONSTRAINT [FK_tblExamineBooking_tblCustomer]
GO
ALTER TABLE [dbo].[tblExamineBooking]  WITH CHECK ADD  CONSTRAINT [FK_tblExamineBooking_tblDoctor] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[tblDoctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[tblExamineBooking] CHECK CONSTRAINT [FK_tblExamineBooking_tblDoctor]
GO
ALTER TABLE [dbo].[tblExamineBooking]  WITH CHECK ADD  CONSTRAINT [FK_tblExamineBooking_tblExamineService] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[tblExamineService] ([Service_ID])
GO
ALTER TABLE [dbo].[tblExamineBooking] CHECK CONSTRAINT [FK_tblExamineBooking_tblExamineService]
GO
ALTER TABLE [dbo].[tblExamineBooking]  WITH CHECK ADD  CONSTRAINT [FK_tblExamineBooking_tblScheduleProvide] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[tblScheduleProvide] ([Schedule_ID])
GO
ALTER TABLE [dbo].[tblExamineBooking] CHECK CONSTRAINT [FK_tblExamineBooking_tblScheduleProvide]
GO
ALTER TABLE [dbo].[tblFrequency]  WITH CHECK ADD  CONSTRAINT [FK_tblFrequency_tblDoctor] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[tblDoctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[tblFrequency] CHECK CONSTRAINT [FK_tblFrequency_tblDoctor]
GO
ALTER TABLE [dbo].[tblFrequency]  WITH CHECK ADD  CONSTRAINT [FK_tblFrequency_tblExamineService] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[tblExamineService] ([Service_ID])
GO
ALTER TABLE [dbo].[tblFrequency] CHECK CONSTRAINT [FK_tblFrequency_tblExamineService]
GO
ALTER TABLE [dbo].[tblMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberCard_tblCardType] FOREIGN KEY([CardType_ID])
REFERENCES [dbo].[tblCardType] ([CardType_ID])
GO
ALTER TABLE [dbo].[tblMemberCard] CHECK CONSTRAINT [FK_tblMemberCard_tblCardType]
GO
ALTER TABLE [dbo].[tblMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberCard_tblCustomer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[tblCustomer] ([Customer_ID])
GO
ALTER TABLE [dbo].[tblMemberCard] CHECK CONSTRAINT [FK_tblMemberCard_tblCustomer]
GO
ALTER TABLE [dbo].[tblMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberCard_tblServicePlace] FOREIGN KEY([IssuePlace_ID])
REFERENCES [dbo].[tblServicePlace] ([Place_ID])
GO
ALTER TABLE [dbo].[tblMemberCard] CHECK CONSTRAINT [FK_tblMemberCard_tblServicePlace]
GO
ALTER TABLE [dbo].[tblMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberCard_tblServicePlace1] FOREIGN KEY([EMRPlace_ID])
REFERENCES [dbo].[tblServicePlace] ([Place_ID])
GO
ALTER TABLE [dbo].[tblMemberCard] CHECK CONSTRAINT [FK_tblMemberCard_tblServicePlace1]
GO
ALTER TABLE [dbo].[tblMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberCard_tblStatus] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[tblStatus] ([Status_ID])
GO
ALTER TABLE [dbo].[tblMemberCard] CHECK CONSTRAINT [FK_tblMemberCard_tblStatus]
GO
ALTER TABLE [dbo].[tblScheduleProvide]  WITH CHECK ADD  CONSTRAINT [FK_tblScheduleProvide_tblDoctor] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[tblDoctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[tblScheduleProvide] CHECK CONSTRAINT [FK_tblScheduleProvide_tblDoctor]
GO
ALTER TABLE [dbo].[tblScheduleProvide]  WITH CHECK ADD  CONSTRAINT [FK_tblScheduleProvide_tblServicePlace] FOREIGN KEY([Place_ID])
REFERENCES [dbo].[tblServicePlace] ([Place_ID])
GO
ALTER TABLE [dbo].[tblScheduleProvide] CHECK CONSTRAINT [FK_tblScheduleProvide_tblServicePlace]
GO
ALTER TABLE [dbo].[tblServiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceTransaction_tblMemberCard] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[tblMemberCard] ([Card_ID])
GO
ALTER TABLE [dbo].[tblServiceTransaction] CHECK CONSTRAINT [FK_tblServiceTransaction_tblMemberCard]
GO
ALTER TABLE [dbo].[tblServiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceTransaction_tblPointRule] FOREIGN KEY([PointRule_ID])
REFERENCES [dbo].[tblPointRule] ([Rule_ID])
GO
ALTER TABLE [dbo].[tblServiceTransaction] CHECK CONSTRAINT [FK_tblServiceTransaction_tblPointRule]
GO
ALTER TABLE [dbo].[tblServiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceTransaction_tblServicePlace] FOREIGN KEY([ServicePlace_ID])
REFERENCES [dbo].[tblServicePlace] ([Place_ID])
GO
ALTER TABLE [dbo].[tblServiceTransaction] CHECK CONSTRAINT [FK_tblServiceTransaction_tblServicePlace]
GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblBookingStatus_Create]
@StatusBooking_ID int 
, @StatusName nvarchar(100) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblBookingStatus] WHERE 1 = 1 AND [StatusBooking_ID] = @StatusBooking_ID)
				UPDATE [tblBookingStatus] SET
[StatusName] = @StatusName
WHERE 1 = 1
AND [StatusBooking_ID] = @StatusBooking_ID


	ELSE
		INSERT INTO [tblBookingStatus]([StatusBooking_ID], [StatusName])
	VALUES(@StatusBooking_ID, @StatusName)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblBookingStatus_Delete]
@StatusBooking_ID int 
AS
BEGIN
DELETE FROM [tblBookingStatus] WHERE 1 = 1
AND [StatusBooking_ID] = @StatusBooking_ID


END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblBookingStatus_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblBookingStatus_Get]
@StatusBooking_ID int  = 0
AS
BEGIN
SELECT * FROM [tblBookingStatus] WHERE 1 = 1
AND ([StatusBooking_ID] = @StatusBooking_ID OR @StatusBooking_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCardType_Create]
@CardType_ID smallint 
, @Description nvarchar(512) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblCardType] WHERE 1 = 1 AND [CardType_ID] = @CardType_ID)
				UPDATE [tblCardType] SET
[Description] = @Description
WHERE 1 = 1
AND [CardType_ID] = @CardType_ID

	ELSE
		INSERT INTO [tblCardType]([CardType_ID], [Description])
	VALUES(@CardType_ID, @Description)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCardType_Delete]
@CardType_ID smallint 
AS
BEGIN
DELETE FROM [tblCardType] WHERE 1 = 1
AND [CardType_ID] = @CardType_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCardType_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCardType_Get]
@CardType_ID smallint  = 0
AS
BEGIN
SELECT * FROM [tblCardType] WHERE 1 = 1
AND ([CardType_ID] = @CardType_ID OR @CardType_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCustomer_Create]
@Customer_ID int 
, @FullName nvarchar(200) 
, @Gender_ID smallint 
, @DOB date 
, @YOB smallint 
, @AddressLine1 nvarchar(512) 
, @AddressLine2 nvarchar(512) 
, @MobilePhone varchar(50) 
, @Phone2 varchar(50) 
, @Email varchar(50) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblCustomer] WHERE 1 = 1 AND [Customer_ID] = @Customer_ID)
				UPDATE [tblCustomer] SET
[FullName] = @FullName, [Gender_ID] = @Gender_ID, [DOB] = @DOB, [YOB] = @YOB, [AddressLine1] = @AddressLine1, [AddressLine2] = @AddressLine2, [MobilePhone] = @MobilePhone, [Phone2] = @Phone2, [Email] = @Email
WHERE 1 = 1
AND [Customer_ID] = @Customer_ID

	ELSE
		INSERT INTO [tblCustomer]([Customer_ID], [FullName], [Gender_ID], [DOB], [YOB], [AddressLine1], [AddressLine2], [MobilePhone], [Phone2], [Email])
	VALUES(@Customer_ID, @FullName, @Gender_ID, @DOB, @YOB, @AddressLine1, @AddressLine2, @MobilePhone, @Phone2, @Email)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCustomer_Delete]
@Customer_ID int 
AS
BEGIN
DELETE FROM [tblCustomer] WHERE 1 = 1
AND [Customer_ID] = @Customer_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblCustomer_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblCustomer_Get]
@Customer_ID int  = 0
AS
BEGIN
SELECT * FROM [tblCustomer] WHERE 1 = 1
AND ([Customer_ID] = @Customer_ID OR @Customer_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblDoctor_Create]
@Doctor_ID int 
, @FullName nvarchar(200) 
, @ShortName nvarchar(100) 
, @Gender_ID smallint 
, @YOB smallint 
, @AddressLine1 nvarchar(512) 
, @AddressLine2 nvarchar(512) 
, @MobilePhone varchar(50) 
, @Phone2 varchar(50) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblDoctor] WHERE 1 = 1 AND [Doctor_ID] = @Doctor_ID)
				UPDATE [tblDoctor] SET
[FullName] = @FullName, [ShortName] = @ShortName, [Gender_ID] = @Gender_ID, [YOB] = @YOB, [AddressLine1] = @AddressLine1, [AddressLine2] = @AddressLine2, [MobilePhone] = @MobilePhone, [Phone2] = @Phone2
WHERE 1 = 1
AND [Doctor_ID] = @Doctor_ID


	ELSE
		INSERT INTO [tblDoctor]([Doctor_ID], [FullName], [ShortName], [Gender_ID], [YOB], [AddressLine1], [AddressLine2], [MobilePhone], [Phone2])
	VALUES(@Doctor_ID, @FullName, @ShortName, @Gender_ID, @YOB, @AddressLine1, @AddressLine2, @MobilePhone, @Phone2)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblDoctor_Delete]
@Doctor_ID int 
AS
BEGIN
DELETE FROM [tblDoctor] WHERE 1 = 1
AND [Doctor_ID] = @Doctor_ID


END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblDoctor_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblDoctor_Get]
@Doctor_ID int  = 0
AS
BEGIN
SELECT * FROM [tblDoctor] WHERE 1 = 1
AND ([Doctor_ID] = @Doctor_ID OR @Doctor_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineBooking_Create]
@Customer_ID int 
, @Schedule_ID int 
, @Doctor_ID int 
, @Service_ID int 
, @BookingCreateDate datetime 
, @EstimateStartTime time(7) 
, @EstimateEndTime time(7) 
, @PositionIndex int 
, @StatusBooking_ID int 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblExamineBooking] WHERE 1 = 1 AND [Customer_ID] = @Customer_ID
AND [Schedule_ID] = @Schedule_ID
AND [Doctor_ID] = @Doctor_ID
AND [Service_ID] = @Service_ID)
				UPDATE [tblExamineBooking] SET
[BookingCreateDate] = @BookingCreateDate, [EstimateStartTime] = @EstimateStartTime, [EstimateEndTime] = @EstimateEndTime, [PositionIndex] = @PositionIndex, [StatusBooking_ID] = @StatusBooking_ID
WHERE 1 = 1
AND [Customer_ID] = @Customer_ID

AND [Schedule_ID] = @Schedule_ID

AND [Doctor_ID] = @Doctor_ID

AND [Service_ID] = @Service_ID


	ELSE
		INSERT INTO [tblExamineBooking]([Customer_ID], [Schedule_ID], [Doctor_ID], [Service_ID], [BookingCreateDate], [EstimateStartTime], [EstimateEndTime], [PositionIndex], [StatusBooking_ID])
	VALUES(@Customer_ID, @Schedule_ID, @Doctor_ID, @Service_ID, @BookingCreateDate, @EstimateStartTime, @EstimateEndTime, @PositionIndex, @StatusBooking_ID)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineBooking_Delete]
@Customer_ID int 
, @Schedule_ID int 
, @Doctor_ID int 
, @Service_ID int 
AS
BEGIN
DELETE FROM [tblExamineBooking] WHERE 1 = 1
AND [Customer_ID] = @Customer_ID

AND [Schedule_ID] = @Schedule_ID

AND [Doctor_ID] = @Doctor_ID

AND [Service_ID] = @Service_ID


END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineBooking_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineBooking_Get]
@Customer_ID int  = 0
, @Schedule_ID int  = 0
, @Doctor_ID int  = 0
, @Service_ID int  = 0
AS
BEGIN
SELECT * FROM [tblExamineBooking] WHERE 1 = 1
AND ([Customer_ID] = @Customer_ID OR @Customer_ID  = 0)
AND ([Schedule_ID] = @Schedule_ID OR @Schedule_ID  = 0)
AND ([Doctor_ID] = @Doctor_ID OR @Doctor_ID  = 0)
AND ([Service_ID] = @Service_ID OR @Service_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineService_Create]
@Service_ID int 
, @ServiceName nvarchar(512) 
, @InActive bit 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblExamineService] WHERE 1 = 1 AND [Service_ID] = @Service_ID)
				UPDATE [tblExamineService] SET
[ServiceName] = @ServiceName, [InActive] = @InActive
WHERE 1 = 1
AND [Service_ID] = @Service_ID


	ELSE
		INSERT INTO [tblExamineService]([Service_ID], [ServiceName], [InActive])
	VALUES(@Service_ID, @ServiceName, @InActive)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineService_Delete]
@Service_ID int 
AS
BEGIN
DELETE FROM [tblExamineService] WHERE 1 = 1
AND [Service_ID] = @Service_ID


END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblExamineService_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblExamineService_Get]
@Service_ID int  = 0
AS
BEGIN
SELECT * FROM [tblExamineService] WHERE 1 = 1
AND ([Service_ID] = @Service_ID OR @Service_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblFrequency_Create]
@Doctor_ID int 
, @Service_ID int 
, @Duration int 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblFrequency] WHERE 1 = 1 AND [Doctor_ID] = @Doctor_ID
AND [Service_ID] = @Service_ID)
				UPDATE [tblFrequency] SET
[Duration] = @Duration
WHERE 1 = 1
AND [Doctor_ID] = @Doctor_ID

AND [Service_ID] = @Service_ID

	ELSE
		INSERT INTO [tblFrequency]([Doctor_ID], [Service_ID], [Duration])
	VALUES(@Doctor_ID, @Service_ID, @Duration)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblFrequency_Delete]
@Doctor_ID int 
, @Service_ID int 
AS
BEGIN
DELETE FROM [tblFrequency] WHERE 1 = 1
AND [Doctor_ID] = @Doctor_ID

AND [Service_ID] = @Service_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblFrequency_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblFrequency_Get]
@Doctor_ID int  = 0
, @Service_ID int  = 0
AS
BEGIN
SELECT * FROM [tblFrequency] WHERE 1 = 1
AND ([Doctor_ID] = @Doctor_ID OR @Doctor_ID  = 0)
AND ([Service_ID] = @Service_ID OR @Service_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblGender_Create]
@Gender_ID smallint 
, @Description nvarchar(100) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblGender] WHERE 1 = 1 AND [Gender_ID] = @Gender_ID)
				UPDATE [tblGender] SET
[Description] = @Description
WHERE 1 = 1
AND [Gender_ID] = @Gender_ID


	ELSE
		INSERT INTO [tblGender]([Gender_ID], [Description])
	VALUES(@Gender_ID, @Description)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblGender_Delete]
@Gender_ID smallint 
AS
BEGIN
DELETE FROM [tblGender] WHERE 1 = 1
AND [Gender_ID] = @Gender_ID


END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblGender_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblGender_Get]
@Gender_ID smallint  = 0
AS
BEGIN
SELECT * FROM [tblGender] WHERE 1 = 1
AND ([Gender_ID] = @Gender_ID OR @Gender_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblMemberCard_Create]
@Card_ID int 
, @CardType_ID smallint 
, @Customer_ID int 
, @IssueDate date 
, @IssuePlace_ID int 
, @IssueBy nvarchar(200) 
, @ExpDate date 
, @Status_ID smallint 
, @TotalPoint int 
, @AccessCode varchar(256) 
, @EMRCode varchar(50) 
, @EMRPlace_ID int 
, @Notes nvarchar(512) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblMemberCard] WHERE 1 = 1 AND [Card_ID] = @Card_ID)
				UPDATE [tblMemberCard] SET
[CardType_ID] = @CardType_ID, [Customer_ID] = @Customer_ID, [IssueDate] = @IssueDate, [IssuePlace_ID] = @IssuePlace_ID, [IssueBy] = @IssueBy, [ExpDate] = @ExpDate, [Status_ID] = @Status_ID, [TotalPoint] = @TotalPoint, [AccessCode] = @AccessCode, [EMRCode] = @EMRCode, [EMRPlace_ID] = @EMRPlace_ID, [Notes] = @Notes
WHERE 1 = 1
AND [Card_ID] = @Card_ID

	ELSE
		INSERT INTO [tblMemberCard]([Card_ID], [CardType_ID], [Customer_ID], [IssueDate], [IssuePlace_ID], [IssueBy], [ExpDate], [Status_ID], [TotalPoint], [AccessCode], [EMRCode], [EMRPlace_ID], [Notes])
	VALUES(@Card_ID, @CardType_ID, @Customer_ID, @IssueDate, @IssuePlace_ID, @IssueBy, @ExpDate, @Status_ID, @TotalPoint, @AccessCode, @EMRCode, @EMRPlace_ID, @Notes)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblMemberCard_Delete]
@Card_ID int 
AS
BEGIN
DELETE FROM [tblMemberCard] WHERE 1 = 1
AND [Card_ID] = @Card_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblMemberCard_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblMemberCard_Get]
@Card_ID int  = 0
AS
BEGIN
SELECT * FROM [tblMemberCard] WHERE 1 = 1
AND ([Card_ID] = @Card_ID OR @Card_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblPointRule_Create]
@Rule_ID smallint 
, @Description nvarchar(512) 
, @ChangeRate int 
, @Increase_Decrease int 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblPointRule] WHERE 1 = 1 AND [Rule_ID] = @Rule_ID)
				UPDATE [tblPointRule] SET
[Description] = @Description, [ChangeRate] = @ChangeRate, [Increase_Decrease] = @Increase_Decrease
WHERE 1 = 1
AND [Rule_ID] = @Rule_ID

	ELSE
		INSERT INTO [tblPointRule]([Rule_ID], [Description], [ChangeRate], [Increase_Decrease])
	VALUES(@Rule_ID, @Description, @ChangeRate, @Increase_Decrease)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblPointRule_Delete]
@Rule_ID smallint 
AS
BEGIN
DELETE FROM [tblPointRule] WHERE 1 = 1
AND [Rule_ID] = @Rule_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblPointRule_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblPointRule_Get]
@Rule_ID smallint  = 0
AS
BEGIN
SELECT * FROM [tblPointRule] WHERE 1 = 1
AND ([Rule_ID] = @Rule_ID OR @Rule_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblScheduleProvide_Create]
@Schedule_ID int 
, @Place_ID int 
, @Doctor_ID int 
, @ScheduleDate int 
, @Shift_ID int 
, @StartTime time(7) 
, @EndTime time(7) 
, @Status smallint 
, @Capacity int 
, @BookingCount int 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblScheduleProvide] WHERE 1 = 1 AND [Schedule_ID] = @Schedule_ID)
				UPDATE [tblScheduleProvide] SET
[Place_ID] = @Place_ID, [Doctor_ID] = @Doctor_ID, [ScheduleDate] = @ScheduleDate, [Shift_ID] = @Shift_ID, [StartTime] = @StartTime, [EndTime] = @EndTime, [Status] = @Status, [Capacity] = @Capacity, [BookingCount] = @BookingCount
WHERE 1 = 1
AND [Schedule_ID] = @Schedule_ID

	ELSE
		INSERT INTO [tblScheduleProvide]([Schedule_ID], [Place_ID], [Doctor_ID], [ScheduleDate], [Shift_ID], [StartTime], [EndTime], [Status], [Capacity], [BookingCount])
	VALUES(@Schedule_ID, @Place_ID, @Doctor_ID, @ScheduleDate, @Shift_ID, @StartTime, @EndTime, @Status, @Capacity, @BookingCount)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblScheduleProvide_Delete]
@Schedule_ID int 
AS
BEGIN
DELETE FROM [tblScheduleProvide] WHERE 1 = 1
AND [Schedule_ID] = @Schedule_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblScheduleProvide_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblScheduleProvide_Get]
@Schedule_ID int  = 0
AS
BEGIN
SELECT * FROM [tblScheduleProvide] WHERE 1 = 1
AND ([Schedule_ID] = @Schedule_ID OR @Schedule_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblServicePlace_Create]
@Place_ID int 
, @PlaceName nvarchar(510) 
, @Address nvarchar(510) 
, @Tel varchar(50) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblServicePlace] WHERE 1 = 1 AND [Place_ID] = @Place_ID)
				UPDATE [tblServicePlace] SET
[PlaceName] = @PlaceName, [Address] = @Address, [Tel] = @Tel
WHERE 1 = 1
AND [Place_ID] = @Place_ID

	ELSE
		INSERT INTO [tblServicePlace]([Place_ID], [PlaceName], [Address], [Tel])
	VALUES(@Place_ID, @PlaceName, @Address, @Tel)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblServicePlace_Delete]
@Place_ID int 
AS
BEGIN
DELETE FROM [tblServicePlace] WHERE 1 = 1
AND [Place_ID] = @Place_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblServicePlace_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblServicePlace_Get]
@Place_ID int  = 0
AS
BEGIN
SELECT * FROM [tblServicePlace] WHERE 1 = 1
AND ([Place_ID] = @Place_ID OR @Place_ID  = 0)

END
--------------End Get-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Create]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblStatus_Create]
@Status_ID smallint 
, @Description nvarchar(100) 
AS
BEGIN
	IF EXISTS(SELECT * FROM [tblStatus] WHERE 1 = 1 AND [Status_ID] = @Status_ID)
				UPDATE [tblStatus] SET
[Description] = @Description
WHERE 1 = 1
AND [Status_ID] = @Status_ID

	ELSE
		INSERT INTO [tblStatus]([Status_ID], [Description])
	VALUES(@Status_ID, @Description)
END
--------------End Create-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Delete]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblStatus_Delete]
@Status_ID smallint 
AS
BEGIN
DELETE FROM [tblStatus] WHERE 1 = 1
AND [Status_ID] = @Status_ID

END
--------------End Delete-------------


GO
/****** Object:  StoredProcedure [dbo].[sp_tblStatus_Get]    Script Date: 06/03/2016 1:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_tblStatus_Get]
@Status_ID smallint  = 0
AS
BEGIN
SELECT * FROM [tblStatus] WHERE 1 = 1
AND ([Status_ID] = @Status_ID OR @Status_ID  = 0)

END
--------------End Get-------------


GO
USE [master]
GO
