<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection,UrlRewritingNet.UrlRewriter" requirePermission="false" restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="CRM" providerName="System.Data.SqlClient" connectionString="server=TIENTM-IT961-20\TIENSERVER;database=MemberCard;uid=sa;password=softwarebyhkl;" />
  </connectionStrings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.html" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="Default" virtualUrl="^~/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Default.aspx" ignoreCase="true" />
      <add name="Login" virtualUrl="^~/dang-nhap.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Login.aspx" ignoreCase="true" />
      <add name="ForgotPassword" virtualUrl="^~/quen-mat-khau.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/ForgotPassword.aspx" ignoreCase="true" />
      <add name="ChangePassword" virtualUrl="^~/doi-mat-khau.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/ChangePassword.aspx" ignoreCase="true" />
      <add name="Default2" virtualUrl="^~/thong-tin-khach-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Default.aspx" ignoreCase="true" />
      <add name="SupportServices" virtualUrl="^~/ho-tro-dich-vu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/SupportServices.aspx" ignoreCase="true" />


    </rewrites>
  </urlrewritingnet>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <defaultDocument>
      <files>
        <add value="Pages/Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>